[defaults]
roles_path        = roles
collections_path  = .collections
inventory         = inventory.example/hosts.yml
host_key_checking = False
stdout_callback   = yaml
retry_files_enabled = False
# vault_password_file = .vault_pass  # uncomment after creating .vault_pass (see README)

[ssh_connection]
pipelining = True
